body
{
    background-color: cyan;
}

h1
{
    color: blue;
    background-color: yellowgreen;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px dotted blue;
    border-radius: 20px;
    animation-name: bedwarsbp;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes bedwarsbp {
    from {box-shadow: 1px 1px 38px black;}
    to {box-shadow: 1px 1px 38px orangered;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}